.background_home {
    background-image: url("../img/home_img_bg.jpg");
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    z-index: -1;
}

.homePageTitleWelcome {
    padding-top: 3em;
    font-size: 500%;
    text-align: center;
}

.homePageTitle {
    font-size: 300%;
    text-align: center;
}

.buttonHomeCategory {
    font-size: 250%;
    /* border: none; */
}

.colHome {
    padding-top: 1em;
    padding-bottom: 1em;
}
